
    
    body {
    display: flex;
    font-size: 14px;
    border-radius: solid light black;
    font-family: Arial, Helvetica, sans-serif, serif;
}
 h1 span{color:#ffc400;

}


p span{
    
    
    text-decoration: underline #ffc400;
    
}
  
    
    ul{
        list-style-type: none;
      }
 .profile img{
     background-color: #ffc400;
 }
    

    .profile {
    background:#ffc400;
    width:30%;
    margin:50px;
    text-align: start;
}


 .profile p{
     text-align:justify;
     padding:10px 10px 200px 40px;
 }
 
    .job {
        display: flex;
        justify-content: space-between;
    }

    .job .description {
        width: 80%;
    }
    .description h3{
        margin-top:0;
    }
    
    hr {
    border-color: rgb(255, 196, 0);
    }
    
    .informations {
    padding: 50px 30px;
    }
    
    .under {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
  
    } 
    .profile h3 {
        background-color:black;
        color: rgb(255, 196, 0);
        text-align:center;
        padding-left:0;
        padding-right:0;
         
    }